.tabglutton {
	width: 100%;
	margin: 0 !important;
	margin-right: 0px !important;
	overflow-x:hidden;
}
.tabglutton .tg_content {
	width: 400px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ebeff9;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #efefef; 
}

/* Filtering */
.tabglutton .tg_search {
	background-color: #ebeff9;
	padding: 2px;
}
.tabglutton .tg_field {
	width: 99%;
	border: 1px solid #b5c7de;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px; 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #efefef), color-stop(.50, #fff));
}

.tabglutton .tg_field:focus {
	outline: none;
}

.tabglutton li {
	list-style: none;
}

.tabglutton .tg_content .tg_tab_list {
	margin: 0;
	padding: 2px 0;
}

.tabglutton .scrollable {
	overflow-x: hidden;
	max-height: 500px;
}

.tabglutton .tg_focused_window {
	background-color: #c2cdc6;
	border-radius: 3px;
}
.tabglutton .tg_content .tg_tab_list > li {
	margin: 2px;
	padding: 0 2px;
	background-color: #f4f6fc;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px; 
	border: 2px solid #b5c7de;
}
.tabglutton .tg_content .tg_tab_list > li.current {
	border: 3px solid #004080;
}
.tabglutton .tg_content .tg_tab_list > li:hover {
	cursor: pointer;
	background-color: #e4e7f0;
}
.tabglutton div.label {
	font-size: 80%;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 20px;
}
.tabglutton .current div.label {
	font-weight: bold;
}
.tabglutton div.label > .favicon {
	height: 16px;
	width: 16px;
	border: 0 none;
	padding: 2px;
	float: left;
}
.tabglutton .description {
	font-size: 65%;
	color: #8f8f8f;
	margin: 0;
	padding-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: none;
}

.tabglutton .description.detail {
	display: block;
}

/* Actions */
.tabglutton .actions {
	float: right;
	display: none;
	padding: 0;
	margin: 0;
}
.tabglutton li.hover .actions {
	display: inline-block;
}
.tabglutton .close {
	background-image: url("../img/close.png");
	background-repeat:  no-repeat;
	background-color: #e4e7f0;
	background-position: center;
	z-index: 999999;
	padding: 3px;
	width: 12px;
	height: 12px;
}
.tabglutton .close:hover {
	background-image: url("../img/close_hover.png");
}