body {
	width: 340px;
	margin: 0;
	overflow-x:hidden;
}
#content {
	width: 335px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ebeff9;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #efefef; 
}

/* Filtering */
#search {
	background-color: #ebeff9;
	/*width: 325px;*/
	padding: 2px;
}
#field {
	width: 99%;
	border: 1px solid #b5c7de;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px; 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #cfcfcf), color-stop(.65, #fff));/*from(#b5c7de), to(#fff));*/
}

#field:focus {
	outline: none;
}

li {
	list-style: none;
}
/* Tab list */
.scrollable {
	/*width: 325px;*/
}
#content #list {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
#content #list > li {
	margin: 2px;
	padding: 0 2px;
	background-color: #f4f6fc;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px; 
	border: 2px solid #b5c7de;
}
#content #list > li.current {
	border: 2px solid #fa0;
}
#content #list > li:hover {
	cursor: pointer;
	background-color: #e4e7f0;
}
div.label {
	font-size: 80%;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	line-height: 20px;
}
.current div.label {
	font-weight: bold;
}
div.label > .favicon {
	height: 16px;
	width: 16px;
	border: 0 none;
	padding: 2px;
	float: left;
}
p.description {
	font-size: 65%;
	color: #8f8f8f;
	margin: 0;
	padding-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	display: none;
}

.hover p.description {
	/*display: block;*/
}
/* Actions */
.actions {
	float: right;
	display: none;
	padding: 0;
	margin: 0;
}
li.hover .actions {
	display: inline-block;
}
.close {
	background-image: url("../img/close.png");
	background-repeat:  no-repeat;
	background-color: #e4e7f0;
	background-position: center;
	z-index: 999999;
	padding: 3px;
	width: 12px;
	height: 12px;
}
.close:hover {
	background-image: url("../img/close_hover.png");
}