.tabDetails {
  flex: 1;
  padding-left: 32px;
  overflow: hidden;
}

.tabTitle {
  color: #212121;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabUrl {
  composes: tabTitle;
  color: #9E9E9E;
}

.close {
  margin-left: 4px;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  top: -3px;

  &:hover {
    color: #000;
    cursor: pointer;
  }
}

.closeButton {
  fill: #9E9E9E;

  &:hover {
    fill: #212121;
  }
}
