.tabItem {
  list-style: none;
  cursor: default;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
  position: relative;

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  img {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
}

.tabItem--separated {
  composes: tabItem;
  &:after {
    content: '';
    display: block;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    left: 72px;
    width: 100%;
  }
}

.tabItem--expanded {
  composes: tabItem;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.137255), 0 4px 8px 0 rgba(0,0,0,.278431);
  margin: 12px;
}

.tabDetails {
  flex: 1;
  padding-left: 32px;
  overflow: hidden;
}

.tabTitle {
  color: #212121;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabUrl {
  composes: tabTitle;
  color: #9E9E9E;
}

.close {
  margin-left: 4px;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  top: -3px;

  &:hover {
    color: #000;
    cursor: pointer;
  }
}

.tabItem:hover .pin {
  opacity: 1;
}
.pin {
  width: 32px;
  height: 32px;
  fill: #9E9E9E;
  opacity: 0;

  &:hover {
    fill: #212121;
  }

}

.pin.pin--active {
  fill: #009688;
  opacity: 1;

  &:hover {
    fill: #009688;
  }
}

.plainButton {
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.closeButton {
  fill: #9E9E9E;

  &:hover {
    fill: #212121;
  }
}

.tabItem:hover .actions, .tabItem.tabItem--pinned .actions {
  max-width: 200px;
  opacity: 1;
  padding-left: 16px;
  transition: max-width 0.3s ease-out, opacity 0.3s ease-out;
}

.tabItem.tabItem--pinned:not(:hover) .actions .plainButton:last-child {
  display: none;
}

.actions {
  max-width: 0;
  transition: max-width 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
}

.favicon {
  position: relative;
}

.audible {
  fill: #9E9E9E;
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: -7px;
  right: -10px;
}
